nav{
    width: 100%;
    height: 80px;
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20;
    position: fixed;
    top: 0%;
    z-index: 1;
  }

.purchase-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.image-card:hover .purchase-button {
    display: block;
}
.product-name {
    text-align: center;
    margin-top: 10px;
}
body{
  margin: 20px;
}
.navbar {
    background-color: #333;
  }
  
  .nav-links .nav-link {
    transition: all 0.3s ease-in-out;
  }
  
  .home-link {
    color: #337ab7;
    margin-left: 20px;
  }
  
  .home-link:hover {
    color: #23527c;
  }
  
  .prices-link {
    color: #5cb85c;
  }
  
  .prices-link:hover {
    color: #3e8e41;
  }
  
  .about-link {
    color: #f0ad4e;
  }
  
  .about-link:hover {
    color: #eea236;
  }
  
  .store-link {
    color: #d9534f;
  }
  
  .store-link:hover {
    color: #c9302c;
  }
  
  .contact-link {
    color: #5bc0de;
  }
  
  .contact-link:hover {
    color: #31b0d5;
  }
  
  .form-control {
    border-radius: 1;
  }
  
  .btn-outline-light {
    border-radius: 0;
  }
.footer {
    background-color: #626060;
    color: #fff;
    padding: 10px;
    margin: -10px;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}
  
.form-horizontal {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
  
.form-control {
    border-radius: 0;
    border: black;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
    text-align: right;
}
  
.form-control:focus {
    border-bottom: 1px solid #fff;
    box-shadow: none;
    width: 80;
}
